.chatBotChatEntry {
    padding: 10px;
    background-color: #fff;
    border-style: outset;
    border-width: 15px;
    border-radius: 5px;
    margin-top: 10px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 17px;
    font-weight: normal;
}

.chatBotChatEntry * {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 17px;
    font-weight: normal;
}

.chatBotChatEntry .origin {
    font-weight: bold;
    margin-right: 10px;
}
.chatBotChatEntry .imgBox {
    position: relative;
    width: 20s%;
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    height: 218px;
    overflow: hidden;
}
.chatBotChatEntry .imgBox .actions .button {
    margin-top: 10px;
    font-size: 18px;
    padding: 5px;
    width: 50%;
}
.chatBotChatEntry .imgBox .actions {
    position: absolute;
    display: none;
    top: 31px;
    width: 100%;
    text-align: center;
}
.chatBotChatEntry .imgBox:hover .actions {
    display: block;
}
.chatBotChatEntry .imgBox .title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    color: #fff;
    background-color: #333;
    font-weight: normal;
    font-size: 16px;
}

.chatBotChatEntry .imgBox img {
    width: 100%;
}

.bot {
    border: 4px solid rgba(0, 0, 0, 0.2);
    background-color: #c1bd99;
}
.human {
    border: 4px solid rgba(0, 0, 0, 0.2);
    background-color: #99c1b9;
}

#chatBotCommandDescription {
    background-color: #333;
    color: #fff;
    padding: 20px;
}
.commandDescription span.phraseHighlight {
    color: #82c6e5;
}
.commandDescription span.placeholderHighlight {
    color: #c882e5;
}
.commandDescription {
    margin-top: 5px;
}

#chatBotConversationLoadingBar {
    background-color: #000000;
    height: 2.5px;
    width: 0px;
}

.appear {
    animation-duration: 0.2s;
    animation-name: appear;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
